<div class="card card-body container mt-5 w-25">
  <h4 class="text-center text-primary mb-4">Login to continue!</h4>
  <div class="mb-3">
    <label for="" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      name=""
      id=""
      placeholder="Input Email"
      #emailRef
    />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      name=""
      id=""
      placeholder="Input password"
      #passwordRef
    />
  </div>

  <div class="d-flex justify-content-center">
    <button
      class="btn btn-primary"
      (click)="doLogin(passwordRef.value, emailRef.value)"
    >
      Login
    </button>
  </div>
</div>
